:root{
    --bg : #08090a;
    --text : #fff;
    --gray-text : #b0abab;
    --green-text : #18e299;
    --box : #151616;
    --green-box : #0c8c5e;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background: black; */
    color: var(--text);
    font-family: 'Inter', sans-serif;
}

/* nav bar */

nav{
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 1.1rem 200px;
    backdrop-filter: blur(10px);
}
nav img{
    width: 18px;
}
nav .logo{
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 7rem;
}
.nav-links ul, .nav-links a{
    text-decoration: none;
    list-style-type: none;
}
.nav-links ul{
    display: flex;
    font-size: 1rem;
    margin-top: 0.4rem;
    gap: 1.5rem;
    /* border: 1px solid rebeccapurple; */
    margin-right: 4rem;
}
.nav-btns{
    margin-left: 2rem;
}
.nav-btns .btn-1{
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);;
    backdrop-filter: blur(10px);
    font-size: 1rem;
    margin-right: 1rem;
}
.nav-btns .btn-2{
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    background-color: var(--text);
    color: var(--bg);
    font-size: 1rem;
}

/* Hero page */
.home{
    padding-top: 5rem ;
    background: url(https://www.mintlify.com/hero/bg-dark.svg), black;
    background-size: cover;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* justify-content: center; */
    align-items: center;
}
.hero a{
    display: flex;
    gap: 1rem;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    /* width: 27rem; */
    padding: 0.2rem 0.2rem;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem ;
    font-size: 0.8rem;
}
.hero .new{
    background: var(--green-box);
    font-size: 0.7rem;
    padding: 0.2rem 0.6rem;
    border-radius: 10px;
}
.hero .symbol{
    width: 1rem;
    background-color: #fff;
    color: var(--bg);
    text-align: center;
    border-radius: 50%;
    margin-left: 0.2rem;
}
.hero h1{
    text-align: center;
    font-size: 3.5rem;
}

.input{
    padding: 0.3rem 0.2rem;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
}
.input input{
    background: transparent;
    border: none;
    color: #e1dddd;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0 2rem 0 1rem;
}
.input button{
    border: none;
    padding: 0.6rem 0.8rem;
    border-radius: 1.2rem;
    background-color: var(--text);
    color: var(--bg);
    font-size: 0.9rem;
}
.hero img{
    margin-top: 5rem;
    border-radius: 2rem;
    border: 1px solid rgb(61, 58, 58);
    border-bottom: none;
}

/* Logos */

.logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    background: var(--bg);
    padding: 7rem 11rem 14rem 17rem;
}
.logos img{
    width: 10rem;
}

/* Assistant  */

.assistant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    /* border: 1px solid wheat; */
}
.assistant h1{
    text-align: center;
}
.assistant .info p{
    text-align: center;
    font-size: 1rem;
    color: var(--gray-text);
    margin-top: 1rem;
}
.assistant .cards{
    display: flex;
    gap: 2rem;
    margin: 4rem 0 1.5rem 0 ;
    /* border: 1px solid red; */
}
.assistant .card{
    padding: 1.5rem;
    width: 30rem;
    border-radius: 20px;
    padding-right: 5rem;
    border: 1px solid var(--box);
}
.assistant span{
    color: var(--green-text);
}
.assistant h2{
    margin: 1.5rem 0;
    font-size: 1.4rem;
}
.assistant p{
    line-height: 1.5rem;
}
.assistant video{
    width: 25rem;
    margin: 3rem 0;
}
.assistant .big-vid{
    border: 1px solid var(--box);
    border-radius: 20px;
}
.assistant .big-vid video{
    width: 62rem;
}
.assistant .big-vid span{
    display: block;
    text-align: center;
    padding-top: 4rem;
    /* border: 1px solid red; */
} 
.assistant .big-vid h2{
    text-align: center;
}

/* enterprise */

.enterprise{
    background: var(--box);
    padding: 7rem 15rem;
    /* width: 200rem; */
}
.enterprise span{
    color: var(--green-text);
}
.enterprise p{
    color: var(--gray-text);
}
.info-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 1px solid red; */
}
.info-section .info{
    display: flex;
    flex-direction: column;
    gap : 1rem;
}
.info-section .btn-2{
    border: none;
    padding: 0.4rem 1.6rem;
    border-radius: 1.2rem;
    background-color: var(--text);
    color: var(--bg);
    font-size: 1rem;
    height: 2.3rem;
}

.card-section{
    display: flex;
    gap: 2rem;
    margin: 4rem 0;
}
.card-section .card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.card-section .card p{
    line-height: 1.5rem;
}
.card-section .card img{
    width: 2.5rem;
}
.enterprise .image{
    position: relative;
}
.enterprise .image img{
    position: block;
    border-radius: 20px;
}
/* .enterprise .image img::before{
    position: absolute;
    inset: 0;
    z-index: 3;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1));
} */
.enterprise .image .image-info{
    position: absolute;
    top: 0;
    padding: 4rem;
    z-index: 5;
}
.enterprise .image .image-info p{
    color: var(--text);
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.enterprise .image .image-info h1{
    margin-bottom: 3rem;
}
.enterprise .image .image-info p:nth-child(2){
    font-weight: bold;
}
.enterprise .image .cards{
    display: flex;
    gap: 3rem;
}
.enterprise .image .cards p{
    color: var(--gray-text);
}
.enterprise .enterprise-logos{
    display: flex;
    gap: 2rem;
    margin: 2rem 5rem;
}
.enterprise .enterprise-logos img{
    height: 3rem;
    width: 9rem;
    filter: grayscale(100%);
}
.customers{
    background: var(--bg);
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    overflow-x: hidden;
}
.customers .info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.customers span{
    color: var(--green-text);
    text-align: center;
}
.customers p{
    font-size: 0.9rem;
    color: var(--gray-text);
}
.customers .reviews{
    display: flex;
    /* border: 1px solid yellow; */
    margin: 5rem 0 5rem 40rem;
    gap: 2rem;
}
.customers .reviews .card{
    transition: 0.5s color ease;
}
.customers .reviews .card img{
    width: 23rem;
    border-radius: 1rem;
}
.customers .reviews .card p{
    margin-top: 1rem;
    color: var(--text);
    font-size: 0.85rem;
}
.customers .reviews .card:hover .green{
    color: var(--green-text);
}
.customers .btns button{
    width: 2rem;
    height: 2rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50%;
}

/* Download */

.download{
    background: var(--bg);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5rem 0;
    gap: 2rem;
}
.download .btns .btn1{
     border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    background-color: var(--text);
    color: var(--bg);
    font-size: 1rem;
}
.download .btns .btn2{
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    background: transparent;
    border: 1 px solid rgb(161, 58, 58);
    backdrop-filter: blur(10px);
    font-size: 1rem;
    margin-right: 1rem;
}
.download .btns .btn2:hover{
    background: rgba(255, 255, 255, 0.1);
}
.download .pricing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.download .pricing img{
    width: 2.7rem;
}
.download .pricing .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem;
}
.download .pricing p{
    font-size: 0.9rem;
}
.download .pricing a ,.download .pricing a span{
    font-size: 0.9rem;
    color: var(--green-text);
    text-decoration: none;
}

hr{
    height: 0.1px;
    border: 1px solid var(--box);
}
/* Footer */

/* socials */
footer{
    background: var(--bg);
    padding: 0 16rem 4rem 16rem;

}
.socials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 4rem 2rem 2rem 2rem;
    border: 1px solid var(--box);
}
.socials .logo{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.socials .logo img{
    width: 1.5rem;
}
.socials .social{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.socials .social svg{
    width: 1.5rem;
    cursor: pointer;
    /* filter: grayscale(100%); */
    stroke: gray;
    fill: gray;
}

/* Links */

.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 4rem 2rem 2rem 2rem;
    border: 1px solid var(--box);
    font-weight: bold;
    font-size: 0.9rem;
}
.links .link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.links span{
    text-transform: uppercase;
    color: var(--gray-text);
}
.links a{
    text-decoration: none;
}

/* security */
.security{
    padding: 2rem;
    border: 1px solid var(--box);
    display: flex;
    gap: 1rem;
    align-items: center;
}
.security img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

/* Copyright */

.copyright{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 2rem;
    border: 1px solid var(--box);
}

.copyright .copy svg{
    width: 1.1rem;
}
.copyright .normal svg{
    fill: var(--green-box);
    stroke: var(--green-box);
    margin-right: 0.5rem;
    /* border-radius: 50%; */
}
.copyright .normal{
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}
.copyright .message{
    /* border: 1px solid yellow; */
    padding-left: 2rem;
    color: var(--gray-text);
    font-size: 0.8rem;
    /* text-align: center; */
}
.copyright .mode{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid yellow; */
    /* background: var(--box); */
}
.copyright .mode .btns{
    /* border: 1px solid red; */
    background: var(--box);
    width: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 0.3rem;
    border-radius: 20px;
}
.copyright .mode .btns button{
    border: none;
    border-radius: 50%;
    background: var(--box);
    
}
.copyright .mode .btns svg{
    width: 0.8rem;
    height: 0.8rem;
    fill: var(--green-box);
    stroke: var(--green-box);
}